<!DOCTYPE html>
<html lang="en">
<head>
  <title>Auth</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> 
  <script src="//code.jquery.com/jquery-1.9.1.js"></script> 
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
  <%= javascript_include_tag "http://netdna.bootstrapcdn.com/bootstrap/"+bootstrap_version+"/js/bootstrap.min.js" %>
  <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/"+bootstrap_version+"/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "styles", :media => "all" %>
  <%= javascript_include_tag "scripts" %>
  <%= javascript_include_tag "FileSaver" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
  <% if current_user %>
      Bem vindo, <%= current_user.username %>
      <%= link_to "Sign out", signed_out_path, { :class=>"btn btn-default btn-xs" } %>
      <%= link_to "Admin", admin_users_path , { :class=>"btn btn-default btn-xs" } %>
      <%= link_to "Home", :root , { :class=>"btn btn-default btn-xs" } %>
  <% else %>
      <%= link_to "Sign up", new_user_path , { :class=>"btn btn-default btn-xs" } %> or
      <%= link_to "Sign in", sign_in_path , { :class=>"btn btn-default btn-xs" } %>
  <% end %>
</p>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<%= yield %>
</body>
</html>
