<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "scripts" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> 
  <script src="//code.jquery.com/jquery-1.9.1.js"></script> 
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link type="text/css" rel="stylesheet" href="/dp.SyntaxHighlighter/Styles/SyntaxHighlighter.css"></link>
  <script language="javascript" src="/dp.SyntaxHighlighter/Scripts/shCore.js"></script>
  <script language="javascript" src="/dp.SyntaxHighlighter/Scripts/shBrushJava.js"></script>
  <script language="javascript" src="/dp.SyntaxHighlighter/Scripts/shBrushXml.js"></script>
  <script language="javascript">
  dp.SyntaxHighlighter.ClipboardSwf = '/dp.SyntaxHighlighter/Scripts/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
  </script>
</head>
<body>
<p>
  <% if current_user %>
      Logged in as <%= current_user.username %>
      <%= link_to "Sign out", signed_out_path %>
      <%= link_to "Admin", admin_users_path %>
      <%= link_to "Home", :root %>
  <% else %>
      <%= link_to "Sign up", new_user_path %> or
      <%= link_to "Sign in", sign_in_path %>
  <% end %>
</p>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
